:root {
  --me-accent-color: rgba(111, 194, 22, 1);
  --me-accent-active-color: #ffc000e8;
  --header-height: calc(72.5px + 1rem);
}

#evready-landing {
  margin-top: var(--header-height) !important;
  min-height: calc(100vh - var(--header-height));
  background-image: url("assets/img/evreading-landing-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.me-border-color {
  border-color: rgba(114, 114, 114, 1) !important;
}

.charge-station-pic {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  max-height: 85px;
}

.charge-station-pic:hover {
  box-shadow: 0 0 2px 1px var(--me-accent-color);
}
