:root {
  --me-accent-color: rgba(111, 194, 22, 1);
  --me-accent-active-color: #ffc000e8;
  --me-border-color: rgba(114, 114, 114, 1);
  --header-height: calc(72.5px + 1rem);
}

#evready-landing {
  margin-top: var(--header-height) !important;
  min-height: calc(100vh - var(--header-height));
  background-image: url("assets/img/evreading-landing-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.me-border-color {
  border-color: var(--me-border-color) !important;
}

.implementation-points-border {
  border-color: var(--me-border-color) !important;
}

@media screen and (max-width: 1200px) {
  .implementation-points-border {
    border: none !important;
  }
}

.charge-station-pic {
  border: 1px solid var(--me-border-color);
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  max-height: 85px;
}

.charge-station-pic:hover {
  box-shadow: 0 0 2px 1px var(--me-accent-color);
  cursor: pointer;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80vw;
  margin-top: 160px;
  height: calc(100vh - 250px);
}

.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1030; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
